button.nav-button {
  appearance: none;
  border: none;
  background: none;
  font-size: 15px;
  min-width: 100px;
  border-bottom: 3px solid #333;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
button.nav-button:hover {
  color: #666;
  border-bottom-color: #666;
}
button.nav-button--active,
button.nav-button--active:hover {
  color: #39f;
  border-bottom-color: #39f;
}
